#main_heading {
	font-size: 96px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 3000;
	color:white;
	cursor: se-resize;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 1.5s;
	animation-delay: 0.0s;
}
hr {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 1.5s;
	animation-delay: 0.0s;
}
#sub_heading {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color:white;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	animation-duration: 1.5s;
	animation-delay: 0.0s;
}
#header {
	background-image: url(https://i.imgur.com/a32unmo.gif);
	background-size: 100% 100%;
	background-clip: border-box;
	background-attachment: fixed;
}
img {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 1.5s;
	animation-delay: 0.0s;
}
p {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	animation-duration: 0.5s;
	animation-delay: 0.0s;
}
.text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: black;
	font-variant: normal;
	font-stretch: normal;
}
.headline {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	font-variant: normal;
	font-stretch: expanded;
}
android {
	color: green;
	cursor: n-resize;
}
m {
	font-weight: 800;
	color: grey;
	font-size: 20px;
}
kingroot {
	font-weight: 800;
	color: #4a89ef;
	font-size: 20px;
}
.butt {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	font-variant: normal;
	font-stretch: expanded;
}
#kaka {
	table-layout: fixed;
}
a {
	color: #3450aa;
}
a:hover {
	color: #01103f;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
